.point{
  background-color: #FCECEC;
}
.contact tr{
  height:7rem;
}
.contact th{
width:150px;
text-align: right;
padding-right: 10px;
}
.word{
width:480px;
}
.contact_button input{
  font-size: 3rem;
  color:#FFFFFF;
  background-color: #008B8B;
  margin: 10px;
}
.contact_button{
  text-align: center;
}
.contact_button:hover{
opacity: 0.5;
}
