*{
  margin:0;
  padding:0;
}
html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
}

.main-header {
  padding-bottom: 15%;
  width: 100%;
  background-size: cover;
  background-image: url("../images/header.jpg");
  background-attachment: fixed;
}

/* ここから */
header {
background-color: #2B2B2B;
height:50px;

}

header ul {
padding: 10px;
margin:0px;
}

header ul a {
color: white;
text-decoration: none;
}

header li {
list-style: none;
float:left;
margin:0px;
padding-left: 15px;
}
.right_menu{
  float:right;
}
header ul:after {
}
/* ここまでがheader部分の実装 */

.main-header img {
/* main画像（白い「Achieve」の文字の画像）部分の実装 */
text-align: center;
width: 13%;
}

.about h1{
/* About Achieve部分の実装 */
font-size: 1.5rem;
}
.about p{
  font-size: 0.8rem;
}

/* ここから */
.function {
text-align: center;
background-color: #D3D3D3;
}

.function-image {
  display: inline-block;
  padding: 40px;
}
/* ここまでがfunction部分の実装 */
footer {
/* footer部分の実装 */
height: 70px;
background-color: #283A4B;
font-size: 0.8rem;
text-align: center;
color: white;
}
